<html>

<head>
    <title>{{it.title}} :: HLS-Media-Server</title>
    <style>
        body {
            background-color: #202020;
            color: #FFF;
        }
    </style>
</head>

<body style="padding:40px">
    <h1>Media Files</h1>
    <h3>{{ it.mediaPath }}</h3>

    {{@foreach(it.video_files) => index, val}}
    <a style="color:white;font-size:1.5rem;" href="/stream/{{val}}">{{val}}</a><br />
    {{/foreach}}
    {{@if(it.video_files.length === 0)}}
    <h4>No Media Files</h4>
    {{/if}}
</body>

</html>